/* Main CSS file */

/* Custom styles */
.custom-md img,
#post-cover img {
  cursor: zoom-in;
}

::selection {
  background-color: var(--selection-bg);
}

.dash-line {
  position: relative;
}

.dash-line::before {
  content: '';
  position: absolute;
  width: 10%;
  height: 100%;
  left: calc(50% - 1px);
  border-left: 2px dashed var(--line-color);
  pointer-events: none;
  transition: all 0.3s;
  transform: translateY(-50%);
}

.collapsed {
  height: var(--collapsedHeight);
}

.custom-md spoiler {
  background-color: var(--codeblock-bg);
  transition: all 0.15s;
  overflow: hidden;
  border-radius: 0.375rem;
  padding: 0.25rem 0.5rem;

  &:not(:hover) {
    color: var(--codeblock-bg);
    * {
      color: var(--codeblock-bg);
    }
  }
  
  &:hover {
    background-color: transparent;
  }
}