/* Markdown CSS file */

/* Custom MD styles */
.custom-md {
  h1 {
    font-size: 1.875rem;
    line-height: 2.25rem;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    .anchor {
      transition: all 0.3s;
      margin: -0.125rem;
      margin-left: 0.2ch;
      padding: 0.125rem;
      opacity: 0;
      text-decoration: none;
      user-select: none;

      .anchor-icon {
        margin: 0 0.45ch;
      }
    }

    &:hover {
      .anchor {
        opacity: 1;
      }
    }
  }

  a:not(.no-styling) {
    position: relative;
    background: none;
    font-weight: 500;
    color: var(--primary);
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-decoration-style: dashed;
    text-underline-offset: 0.25rem;
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone;
    display: inline-block;

    &:hover,
    &:active {
      text-decoration: none;
      background: var(--btn-plain-bg-hover);
      border-bottom: 1px dashed var(--link-hover);
    }
  }

  code {
    background-color: var(--inline-code-bg);
    color: var(--inline-code-color);
    padding: 0.25rem 0.5rem;
    border-radius: 0.375rem;
    overflow: hidden;

    font-family:
      'JetBrains Mono Variable',
      ui-monospace,
      SFMono-Regular,
      Menlo,
      Monaco,
      Consolas,
      Liberation Mono,
      Courier New,
      monospace;
    &:before {
      content: none;
    }
    &:after {
      content: none;
    }

    counter-reset: line;
    span.line {
      &:before {
        color: rgba(255, 255, 255, 0.25);
        margin-right: 1rem;
        width: 1rem;
        display: inline-block;
        content: counter(line);
        counter-increment: line;
        direction: rtl;
      }
      &:last-child:empty,
      &:last-child:has(> span:empty:only-child) {
        display: none;
      }
    }
  }

  .copy-btn {
    all: initial;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: oklch(0.45 0.01 var(--hue));
    transition: all 0.3s;
    opacity: 0;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.5);
    position: absolute;
    transform: scale(0.9) translateZ(0);
    height: 2rem;
    width: 2rem;
    top: 0.75rem;
    right: 0.75rem;
    font-size: 0.875rem;
    border-radius: 0.5rem;
    z-index: 20;
    cursor: pointer;

    &:hover {
      background-color: oklch(0.50 0.01 var(--hue));
    }

    &:active {
      background-color: oklch(0.55 0.01 var(--hue));
      transform: scale(0.9) translateZ(0);
    }

    @media (prefers-color-scheme: dark) {
      background-color: oklch(0.30 0.02 var(--hue));

      &:hover {
        background-color: oklch(0.35 0.03 var(--hue));
      }

      &:active {
        background-color: oklch(0.40 0.03 var(--hue));
      }
    }
  }
  .frame:hover .copy-btn {
    opacity: 1;
  }

  .copy-btn-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transition: all 0.3s;
    transform: translate(-50%, -50%);
    width: 1rem;
    height: 1rem;
    fill: white;
    pointer-events: none;
  }
  .copy-btn .copy-icon {
    opacity: 1;
    fill: white;

    @media (prefers-color-scheme: dark) {
      fill: rgba(255, 255, 255, 0.75);
    }
  }
  .copy-btn.success .copy-icon {
    opacity: 0;
    fill: var(--deep-text);
  }
  .copy-btn .success-icon {
    opacity: 0;
    fill: white;
  }
  .copy-btn.success .success-icon {
    opacity: 1;
  }

  .expressive-code {
    margin: 1rem 0;
    ::selection {
      background-color: var(--codeblock-selection);
    }
  }

  ul,
  ol {
    li::marker {
      color: var(--primary);
    }
  }

  blockquote {
    font-style: normal;
    border: transparent;
    position: relative;
    font-weight: inherit;

    &:before {
      content: '';
      position: absolute;
      left: -0.25rem;
      display: block;
      transition: all 0.3s;
      background-color: var(--btn-regular-bg);
      height: 100%;
      width: 0.25rem;
      border-radius: 9999px;
    }

    /* Remove the double quotes from default styles */
    p:before,
    p:after {
      content: none;
    }
  }

  .katex-display-container {
    max-width: 100%;
    overflow-x: auto;
    margin: 1em 0;
  }
}
