/* Photoswipe CSS file */

.pswp__button {
  transition: all 0.3s;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 0;
  width: 3rem;
  height: 3rem;

  &:hover {
    background-color: rgba(0, 0, 0, 0.5);
  }

  &:active {
    background-color: rgba(0, 0, 0, 0.6);
  }
}

.pswp__button--zoom,
.pswp__button--close {
  margin-top: 1rem;
  border-radius: 0.75rem;
  transform: scale(0.9) translateZ(0);

  &:active {
    transform: scale(0.9) translateZ(0);
  }
}

.pswp__button--zoom {
  margin-right: 0.625rem;
}

.pswp__button--close {
  margin-right: 1rem;
}
